html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas: 'shapetree results controls';
    margin-top: 96px;
}

div.toplevelactions {
    background-color: #eeaa00;
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    grid-template-areas: '. btngrp';
    padding: 6px;
    position: fixed;
    width: 288px;
    z-index: 100;
}

/* #addbtn {
    grid-area: addbtn;
}

#delbtn {
    grid-area: delbtn;
} */

#btngrp {
    grid-area: btngrp;
}

section.shapetree {
    grid-area: shapetree;
    background-color: #f9f9f9;
    /* padding: 24px; */
    width: 300px;
    height: 100%;
    position: fixed;
}

ul[role="tree"] {
    position: unset;
    margin-top: 56px;
    /* height and overflow in component styles */
}

div.shapeitem {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr ;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .MuiTreeView-root::-webkit-scrollbar {
    display: none;
} */


/* Hide scrollbar for IE, Edge and Firefox */
/* .MuiTreeView-root { */
/*   -ms-overflow-style: none; */  /* IE and Edge */
/*   scrollbar-width: none;  */ /* Firefox */
/* } */

section.controls {
    grid-area: controls;
    background-color: #FFF4E8;
    /* padding: 16px; */
    width: 300px;
    height: 100%;
   /*  position: fixed; */
    right: 0;
}

div.controlsContainer {
    /* padding: 12px 0 12px 0; */
    padding: 16px 16px 0;
    font-size: small;
}

section.results {
    grid-area: results;
    /* margin: auto; */
    height: 100%;
    /* margin-top: 24px; */
    position: fixed;
    top: 120px;
    left: 324px;
    /* margin: 24px; */
}

/* section.illustration {
    margin: auto;
    padding: 36px;
    position: fixed;
} */

section.code {
    height: 400px;
    width: 100%;
}

.controls_illo {
    /*
    background-color: #4a4a4a;
    color: white;
    */
    /* position: relative;
    top: 110px; */
}

.parameter {
    margin: 12px 0 12px 0;
    display: block;
}

.sub-parameter {
    margin: 12px 0 12px 24px;
    display: block;
}

div.paramlevel2 {
    margin: 12px 0 12px 12px;
}

div.paramlevel3 {
    margin: 12px 0 12px 24px;
}

.controls_illo input[type="number"] {
    background-color: #383838;
    color: white;
    border: none;
    margin-left: 8px;
    height: 20px;
}

.controls_illo input[type="number"]:disabled {
    background-color: #5e5e5e;
    color: rgb(204, 204, 204);
}

.controls_illo input[type="checkbox"] {
    background-color: #383838;
    color: white;
    border: none;
    margin: 0 8px 0 0;
}

input, label {
    vertical-align: middle;
}

input:disabled {
    color: #7c7c7c;
}

#bgColor {
    left: 54px
}

#fallback {
    width: 234px;
}

header {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    padding: 16px;
    border: none;
}

.controls_shape header {
    grid-template-areas: 'selectShape addShapeBtn';
    background-color: #e4e4e4;
}

.controls_shape {
    position: relative;
    /* top: 115px; */
    top: 82px;
}

select#selectShape {
    background-color: #383838;
    color: white;
    padding-left: 12px;
    border: none;
    font-weight: 200;
}

select#selectShape:hover {
    text-decoration: underline;
}

div.btnContainer {
    align-self: center;
    justify-self: right;
}

button#addShapeBtn {
    height: 28px;
    width: 56px;
    background-color: #e2e2e2;
    border: 1px solid white;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 600;
}

button#addShapeBtn:hover {
    background-color: white;
}

/* .controls_shape input { 
    display: block;
    margin: 6px 0 10px 0;
} */

canvas#illo {
    border: 1px dotted lightgray;
    border-radius: 8px;
    /* background-color: #FDB; */
}

#container {
    height: 300px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: black;
}

input[type='color'] {
    position: relative;
    /*top: 20px;*/
    left: 36px;
    border: none;
    background-color: #fff4e7;
    padding: 0;
}

div.editorHeader {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#editor, #editorHTML {
    border-radius: 8px;
/*     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace; */
    font-size: 14px;
    /* font-weight: 400;
    height: auto;
    letter-spacing: normal; */
    line-height: 20px;
/*     padding: 10px; */
    tab-size: 4;
    min-width: 550px;
    max-width: 950px;
    /* margin-top: 6px; */
    margin-bottom: 24px;
    /* background-color: #FFF4E8; */
}

#editorHTML {
    /* height: 100px; */
}

#addShapeHeader {
    /* background-color: #7fc0f5; */
    background-color: #f9f9f9;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 16px;
    position: fixed;
    top: 96px;
    z-index: 1;
    width: 267px;
}

span.MuiTypography-body1 {
    font-size: 0.8rem;
    color: black;
}

span.MuiSlider-markLabel {
    font-size: 0.75rem
}

span.tinytext {
    font-size: 0.75rem;
    color: rgb(100, 100, 100);
}

#add:hover {
    background-color: #0064c5;
}